.productcard .textpart{
transition:  transform .3s ease-out;
}

.productcard:hover .textpart{
    transform: translateY(-1rem);
}
.productcard:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}